<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&amp;display=swap" rel="stylesheet">
<style>
    canvas {
        border:5px solid #4b6a9c;
        background-color: #5bcce3;
        position: relative;
        top: 70px;
        left: 250px;
    }

    body,h1, h2 {
        font-family: "Roboto";
    }

    h2 {
        position: relative;
        font-family: "Roboto";
        top: 70px;
        color: black;
        text-align: center;
    }

    body, html {
        height: 100%;
        top: 35px;
    }

    .bgimg {
        background-image: url("https://ak.picdn.net/shutterstock/videos/1019919385/thumb/1.jpg");
        min-height: 50%;
        background-position: center;
        background-size: cover;
    }

    button {
        position: relative;
        left: -900px;
        top: -390px;
    }
</style>

<head>
    <meta charset="UTF-8">
    <title>Adhithi</title>
</head>
<body>

<div>
    <div class="w3-row w3-padding w3-pink">
        <div class="w3-col s3">
            <a href="/" class="w3-button w3-block w3-pink">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#familycode" class="w3-button w3-block w3-pink">FAMILY CODE</a>
        </div>
        <div class="w3-col s3">
            <a href="#wow" class="w3-button w3-block w3-pink">WOW</a>
        </div>
        <div class="w3-col s3">
            <a href="#reflection" class="w3-button w3-block w3-pink">REFLECTION</a>
        </div>
        <div class="w3-col s3">
            <a href="#familycode" class="w3-button w3-block w3-pink">AP MASTERY</a>
        </div>
        <div class="w3-col s3">
            <a href="#tpt" class="w3-button w3-block w3-pink">TPT RESOURCES</a>
        </div>

    </div>
</div>


<h1 align=center class="w3-blue" style="font-family:Roboto"> INDIVIDUAL JOURNAL </h1>
<p align=center> This is Adhithi's journal. Use the navbar to jump to each section you would like to see. </p>

<section id="familycode">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-64" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-pink">FAMILY CODE</span></h5>
        <script src="https://gist.github.com/adhithin/b3ccb905f08990943bdaf94d5008b3f4.js"> </script>
</section>

<section id="wow">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-pink">WOW</span></h5>
       <p class="w3-blue" style="font-size:20px" > First, we have our leaderboard, which we built using CRUD databases, as well as SQLAlchemy. </p>
         <p style="font-size:15px"> + link below takes you to game 3 </p>
         <p style="font-size:15px"> + shows CRUD database with scores </p>
         <p style="font-size:15px"> + score is queried from game to the leaderboard </p>

        <a href="/game3" class="w3-center w3-button w3-block w3-blue"> LEADERBOARDS + GAME </a>
        <div class="w3-panel w3-leftbar w3-blue">
        </div>
        <p class="w3-indigo" style="font-size:20px"> Second, we have our ratings and reviews, which we built using CRUD databases, as well as SQLAlchemy. </p>
        <p style="font-size:15px"> + link below takes you to reviews page </p>
        <p style="font-size:15px"> + sorts by rating number </p>
        <p style="font-size:15px"> + rating has a min and max length </p>
        <a href="ratings" class="w3-center w3-button w3-block w3-indigo"> RATINGS DATABASE </a>
        <div class="w3-panel w3-leftbar w3-indigo">
        </div>
</section>

<section id="tpt">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-pink"> AP MASTERY </span></h5>
        <p style="font-size:20px" > First, we have our leaderboard, which we built using CRUD databases, as well as SQLAlchemy. </p>
        <p style="font-size:15px"> + link below takes you to game 3 </p>
        <p style="font-size:15px"> + shows CRUD database with scores </p>
        <p style="font-size:15px"> + score is queried from game to the leaderboard </p>

        <a href="/game4" class="w3-center w3-button w3-block w3-blue"> LEADERBOARDS + GAME </a>
        <div class="w3-panel w3-leftbar w3-blue">
        </div>
        <p class="w3-indigo" style="font-size:20px"> Second, we have our ratings and reviews, which we built using CRUD databases, as well as SQLAlchemy. </p>
        <p style="font-size:15px"> + link below takes you to reviews page </p>
        <p style="font-size:15px"> + sorts by rating number </p>
        <p style="font-size:15px"> + rating has a min and max length </p>
        <a href="ratings" class="w3-center w3-button w3-block w3-indigo"> RATINGS DATABASE </a>
        <div class="w3-panel w3-leftbar w3-indigo">
        </div>
</section>

<section id="reflection" style="w3-cyan width:100%">
    <div align="center" style="w3-cyan width:100%" >
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-pink">REFLECTIONS</span></h5>

    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSOxS3rlE_dwgvJ1uHxkdh2IR1Bm64jJjd9vOL0EIBd3XVEUDYCHL9fZEpMj4kJMJtlzEWk7ieNRiL7/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></iframe>
    </div>
</section>

<section id="tpt">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-pink">TPT RESOURCES</span></h5>
        <a href="https://drive.google.com/drive/folders/1NRjZ-2l7mbD3qQJN5mLH5DKnLZFe8bs3" class="w3-center w3-button w3-block w3-blue"> TPT GOOGLE DRIVE FOLDER </a>
        <div class="w3-panel w3-leftbar w3-blue">
        </div>
        <a href="https://www.collegeboard.org/" class="w3-center w3-button w3-block w3-indigo"> AP & COLLEGEBOARD </a>
        <div class="w3-panel w3-leftbar w3-indigo">
        </div>
</section>

</body>
</html>