<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&amp;display=swap" rel="stylesheet">
<style>
    canvas {
        border:5px solid #4b6a9c;
        background-color: #5bcce3;
        position: relative;
        top: 70px;
        left: 250px;
    }

    body,h1, h2 {
        font-family: "Roboto";
    }

    h2 {
        position: relative;
        font-family: "Roboto";
        top: 70px;
        color: black;
        text-align: center;
    }

    body, html {
        height: 100%;
        top: 35px;
    }

    .bgimg {
        background-image: url("https://ak.picdn.net/shutterstock/videos/1019919385/thumb/1.jpg");
        min-height: 50%;
        background-position: center;
        background-size: cover;
    }

    button {
        position: relative;
        left: -900px;
        top: -390px;
    }

</style>

<head>
    <meta charset="UTF-8">
    <title>Arul</title>
</head>
<body>

<div>
    <div class="w3-row w3-padding w3-red">
        <div class="w3-col s3">
            <a href="/" class="w3-button w3-block w3-red">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#familycode" class="w3-button w3-block w3-red">FAMILY CODE</a>
        </div>
        <div class="w3-col s3">
            <a href="#wow" class="w3-button w3-block w3-red">WOW</a>
        </div>
        <div class="w3-col s3">
            <a href="#reflection" class="w3-button w3-block w3-red">REFLECTION</a>
        </div>
        <div class="w3-col s3">
            <a href="#mastery" class="w3-button w3-block w3-red">AP MASTERY</a>
        </div>
        <div class="w3-col s3">
            <a href="#tpt" class="w3-button w3-block w3-red">TPT RESOURCES</a>
        </div>

    </div>
</div>


<h1 align=center class="w3-blue" style="font-family:Roboto"> INDIVIDUAL JOURNAL </h1>
<p align=center> This is Arul's Computer Science Journal. You may use the navbar at the top to jump to each part that you'd like to view. </p>
<img src="https://www.netclipart.com/pp/m/135-1351797_clipart-of-journal-notes-and-example-cartoon-book.png"></img>
<section id="familycode">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-64" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-red">FAMILY CODE</span></h5>
        <script src="https://gist.github.com/arulsalaniwal/2f6c11ed96b9b19f09555fc917163eb9.js"> </script>
</section>

<section id="wow">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-red">WOW</span></h5>
        <p class="w3-blue" style="font-size:20px" > First, we've implemented an API into our game (COVID Magic Wall Game). </p>
        <p style="font-size:15px"> + linked button below takes you to the game </p>
        <p style="font-size:15px"> + shows use of data from an API that's updated daily with data as it comes out </p>
        <p style="font-size:15px"> + data is from https://covidtracking.com/data/api </p>

        <a href="/game1" class="w3-center w3-button w3-block w3-blue"> COVID Magic Wall Game </a>
        <div class="w3-panel w3-leftbar w3-blue">
        </div>
        <p class="w3-indigo" style="font-size:20px"> Second, we have our leaderboard in the Cube Dodge arcade game, which we built using CRUD, as well as SQLAlchemy. </p>
        <p style="font-size:15px"> + linked button below takes you to the game </p>
        <p style="font-size:15px"> + implements CRUD database with inputted scores </p>
        <p style="font-size:15px"> + score is queried from game to the leaderboard </p>
        <a href="/game4" class="w3-center w3-button w3-block w3-indigo"> The Cube Dodge Game </a>
        <div class="w3-panel w3-leftbar w3-indigo">
        </div>
</section>

<section id="mastery">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-red"> AP MASTERY </span></h5>
        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vT5URE0Fywgyi2jVlF7aBE4tfkrBiUMjCAlQVoQzsHOnv7hp_vseQ57ET4jitHzA1nHh4_PYIIFZIKD/embed?start=false&loop=false&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
    </div>
</section>

<section id="reflection" style="w3-cyan width:100%">
    <div align="center" style="w3-cyan width:100%" >
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-red">REFLECTIONS</span></h5>

        <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTsK1LLRuAJyvUhhDZGGFdRN0RnBTDFCFjHqDLdgpw1sPM32DxhR-OuKQM8_198rlnwvDSsDWIeILXf/embed?start=false&loop=false&delayms=60000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe></iframe>
    </div>
</section>

<section id="tpt">
    <div class="w3-content">
        <h5 class="w3-center w3-padding-5" style="font-family:Roboto; font-size: 40px" ><span class="w3-tag w3-red">TPT RESOURCES</span></h5>
        <a href="https://drive.google.com/drive/folders/1NRjZ-2l7mbD3qQJN5mLH5DKnLZFe8bs3" class="w3-center w3-button w3-block w3-teal"> TPT GOOGLE DRIVE FOLDER </a>
        <div class="w3-panel w3-leftbar w3-teal">
        </div>
        <a href="https://www.collegeboard.org/" class="w3-center w3-button w3-block w3-indigo"> AP & COLLEGEBOARD </a>
        <div class="w3-panel w3-leftbar w3-indigo">
        </div>
</section>

</body>
</html>