<!DOCTYPE html>
<html>
<title> Arcade Smash | Game 4 </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
    canvas {
            border:5px solid #4b6a9c;
            background-color: #5bcce3;
            position: relative;
            top: 70px;
            left: 250px;
    }

    h1 {
        font-family: "Raleway";
    }

    h2, h3, label, input {
        position: relative;
        font-family: "Consolas";
        top: 0px;
        color: white;
        text-align: center;
    }

    .bgimg {
      background-image: url("https://ak.picdn.net/shutterstock/videos/1019919385/thumb/1.jpg");
      min-height: 50%;
      background-position: center;
      background-size: cover;
    }

    button {
        position: static;
        left: 0px;
        top: 0px;
    }

    button2 {
        position: relative;
        left: 900px;
        top: 500px;
    }
</style>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="https://img.icons8.com/material-sharp/24/000000/apple-arcade.png"/>
</head>

<body class="bgimg w3-display-container" id="home" onload="startGame()">

    <div class="w3-top">
        <div class="w3-row w3-padding w3-black">
            <div class="w3-col s3">
                <a href="/" class="w3-button w3-block w3-black">HOME</a>
            </div>
            <div class="w3-col s3">
                <a href="/game4" class="w3-button w3-block w3-black">RESTART</a>
            </div>
        </div>
    </div>

    <script>
        var GamePiece;
        var Obstacles = [];
        var Score;

        function startGame() {
            GamePiece = new component(20, 20, "red", 200, 120);
            GamePiece.gravity = 1;
            Score = new component("30px", "Consolas", "yellow", 800, 40, "text");
            GameArea.start();
        }

        var GameArea = {
            canvas : document.createElement("canvas"),
            start : function() {
                this.canvas.width = 1000;
                this.canvas.height = 500;
                this.context = this.canvas.getContext("2d");
                document.body.insertBefore(this.canvas, document.body.childNodes[0]);
                this.frameNo = 0;
                this.interval = setInterval(updateGameArea, 12);
                },
            clear : function() {
                this.context.clearRect(0, 0, this.canvas.width, this.canvas.height);
            }
        }

        function component(width, height, color, x, y, type) {
            this.type = type;
            this.score = 0;
            this.width = width;
            this.height = height;
            this.speedX = 0;
            this.speedY = 0;
            this.x = x;
            this.y = y;
            this.gravity = 0;
            this.gravitySpeed = 0;
            this.update = function() {
                ctx = GameArea.context;
                if (this.type == "text") {
                    ctx.font = this.width + " " + this.height;
                    ctx.fillStyle = color;
                    ctx.fillText(this.text, this.x, this.y);
                } else {
                    ctx.fillStyle = color;
                    ctx.fillRect(this.x, this.y, this.width, this.height);
                }
            }

            this.newPos = function() {
                this.gravitySpeed += this.gravity;
                let newx = this.x + this.speedx;
                this.x += this.speedX;
                this.y += this.speedY + this.gravitySpeed;
                this.hitBottom();
                this.hitTop();
            }

            this.hitBottom = function() {
                var rockbottom = GameArea.canvas.height - this.height;
                if (this.y > rockbottom) {
                    this.y = rockbottom;
                    this.gravitySpeed = 0;
                }
            }

            this.hitTop = function() {
                var rockTop = 0;
                if (this.y <= rockTop) {
                    this.y = rockTop;
                    this.gravitySpeed = 0;
                }
            }

            this.crashWith = function(otherobj) {
                var left = this.x;
                var right = this.x + (this.width);
                var top = this.y;
                var bottom = this.y + (this.height);
                var otherleft = otherobj.x;
                var otherright = otherobj.x + (otherobj.width);
                var othertop = otherobj.y;
                var otherbottom = otherobj.y + (otherobj.height);
                var crash = true;
                if ((bottom < othertop) || (top > otherbottom) || (right < otherleft) || (left > otherright)) {
                    crash = false;
                }
                return crash;
            }
        }

        function updateGameArea() {
            var x, height, gap, minHeight, maxHeight, minGap, maxGap;
            for (i = 0; i < Obstacles.length; i += 1) {
                if (GamePiece.crashWith(Obstacles[i])) {
                    score = GameArea.frameNo;
                    console.log(score)
                    document.querySelector('form input[name="score"]').value = score;
                    document.getElementById("FinalScore").innerHTML = score;
                    document.getElementById("Congrats").innerHTML = "Congrats! You've finished the game!";
                    return;
                }
            }

            GameArea.clear();
            GameArea.frameNo += 1;
            if (GameArea.frameNo == 1 || everyinterval(150)) {
                x = GameArea.canvas.width;
                minHeight = 20;
                maxHeight = 200;
                height = Math.floor(Math.random()*(maxHeight-minHeight+1)+minHeight);
                minGap = 50;
                maxGap = 175;
                gap = Math.floor(Math.random()*(maxGap-minGap+1)+minGap);
                Obstacles.push(new component(30, height, "green", x, 0));
                Obstacles.push(new component(30, x - height - gap, "green", x, height + gap));
            }

            for (i = 0; i < Obstacles.length; i += 1) {
                Obstacles[i].x += -1;
                Obstacles[i].update();
            }

            Score.text="SCORE: " + GameArea.frameNo;
            Score.update();
            GamePiece.newPos();
            GamePiece.update();
        }

        function everyinterval(n) {
            if ((GameArea.frameNo / n) % 1 == 0) {return true;}
            return false;
        }

        function accelerate(n) {
            GamePiece.gravity = n;
        }


    </script>

    <div class="w3-bottom">
        <button onmousedown="accelerate(-0.2)" onmouseup="accelerate(0.05)" class="button">ACCELERATE</button>
        {% if gameScores != 'nothing' %}
            <h2 id="FinalScore"></h2>
            <div style="text-align: center; margin: 16px auto">
                <section id="done">
                    <h3 id="Congrats"></h3>
                    <form action="" method="POST">
                        <label for="name">Name:</label>
                        <input id="name" type="text" name="name" required maxlength="10" placeholder="Your Name">
                        <input type="hidden" name="score">
                        <input type="hidden" name="game" value="game4">
                        <button type="submit" class="button2">Add Your Name to the Leaderboard!</button>
                    </form>
                </section>
            </div>
        {% endif %}
    </div>
</body>
</html>


