<!DOCTYPE html>
<html>
<title> Arcade Smash | Game 2 </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.bgimg {
  background-image: url('https://wallpapercave.com/wp/wp5931022.png');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>

<head>
    <link rel="icon" href="https://img.icons8.com/material-sharp/24/000000/apple-arcade.png"/>
</head>

<body>

<!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
            <a href="/" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#Puzzle_1" class="w3-button w3-block w3-black">Game 2</a>
        </div>
    </div>
</div>

</body>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="col-4" style="text-align: right;">
        <a href="https://github.com/LordRoop/P5_Gorillas-Portfolio" target="_blank"><i class="fa fa-map"></i></a>
    </div>

</header>

<div class="w3-sand w3-grayscale w3-large">
    <div class="w3-container" id="Game_2">
        <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">Game 2</span></h5>
    </div>
</div>


</html>
