<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dragon Flight</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dragon.css')}}">

</head>
<body>
<div class="stage">
    <div id="life-storage"><div class="bar"></div></div>
    <div class="dragon"></div>
    <div class="intro">
        <h1>Dragon Flight</h1>
        <p>Kill birds with your flame before they hurt you</p>
        <p>Move with arrow keys or aswd and use spacebar to shoot flame. Shift lets you fly faster.</p>
        <div class="button start">Start Game</div>
    </div>

</div>


<!-- best practice put scripts at the bottom -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<!-- any plugins/extensions on jQuery go here-->

<script type="text/javascript">
    'use strict';
    //const variables
    const dragon = $('.dragon'),
        stage = $('.stage'),
        dWidth = 200,
        dHeight = 144,
        dir = {
            up:false,
            down:false,
            left:false,
            right:false
        }; //this is an object literal. Represents the direction that the user wants to move the div based off of keyboard indications (arrows for example) since we are not redeclaring dir,but manipulating its properties we can use const

    //let variables
    let gameRunning = false,
        speed = 6, //number of px our div will move. This may change!
        createEnemyInt, //with empty value reserves space for the variable and lets us set its value later
        score = 0,
        bgx = 0, //xpos of background
        bgy = 0, //ypos of background
        xSpeed = -3, //speed at which the background moves horizontally
        ySpeed = 0,
        lives = 3,
        dragonMotion,
        woosh = new Audio('sounds/short-fireball-woosh.mp3');

    $(document).keydown( function(e) {
        //e captures the event object information, which tells me which key was sent down
        if(gameRunning){


            //arrows: up:38, down:40, left:37, right:39
            //aswd: w:87, s:83, a: 65, d:68

            if(e.which == 38 || e.which == 87 ){
                dir.up = true;
            }

            if(e.which == 40 || e.which == 83 ){
                dir.down = true;
            }

            if(e.which == 37 || e.which == 65){
                dir.left = true;
            }

            if(e.which == 39 || e.which == 68){
                dir.right = true;
            }

            //hit shift key to go a little faster
            if(e.which == 16){
                speed = 10;
            }

            //TODO: shootflame spacebar

            if(e.which == 32){
                //32 is spacebar
                //console.log('Woooooosh!');
                shootFlame();
                //woosh.play();
            }
        }//end if gameRunning

        //console.log('keydown', e.which);
//			console.log(dir);
    }) //end keydown

    $(document).keyup( function(e) {
        //e captures the event object information, which tells me which key was released
        if(gameRunning == true){


            //arrows: up:38, down:40, left:37, right:39
            //aswd: w:87, s:83, a: 65, d:68

            if(e.which == 38 || e.which == 87 ){
                dir.up = false;
            }

            if(e.which == 40 || e.which == 83 ){
                dir.down = false;
            }

            if(e.which == 37 || e.which == 65){
                dir.left = false;
            }

            if(e.which == 39 || e.which == 68){
                dir.right = false;
            }

            //hit shift key to go a little faster
            if(e.which == 16){
                speed = 6;
            }

        }//end if Game Running
        //console.log('keyup', dir);
    })

    function gameLoop(){
        let newTop = 0,
            newLeft = 0;
        //sets the values of hte top and left to 0, but is used to store the value of our dragon's top and left position

        if(dir.up == true){
            //or dir.up
            newTop -= speed;
        }

        if(dir.down){
            //or dir.down == true
            newTop += speed;
        }

        if(dir.left == true){
            newLeft -= speed;
        }

        if(dir.right){
            //console.log('true?')
            //console.log(dir);
            newLeft += speed;
        }

        //dragon's current position:
        let dTop = dragon.position().top;
        let dLeft = dragon.position().left;

        // //dragon's height and width
        // referenced in the global scope
        // let dHeight = 50;
        // let dWidth = 50; //dynamic value dragon.width()

        //check against stage dynamic boundaries
        let sHeight = stage.height(); //gets current value of stage's height
        let sWidth = stage.width();  //gets current value of stage's width

        if(dTop + newTop < 0){
            newTop = 0;
            newTop -= dTop;
        }

        if(dLeft+newLeft <0){
            newLeft = 0;
            newLeft -= dLeft;
        }
        //check against right boundary
        if(dLeft+newLeft+dWidth > sWidth ){
            newLeft = 0;
            newLeft+= (sWidth-dWidth-dLeft);
        }
        //check against bottom boundary
        if(dTop+newTop+dHeight > sHeight ){
            newTop = 0;
            newTop += (sHeight-dHeight-dTop);

        }
        dragon.css({top: '+='+newTop, left: '+='+newLeft})

        //call recthit to determine if our flame has hit an enemy
        $('.flame').each( function(){
            //many to many comparison
            let flame = $(this); //'this is the flame the program is referencing right now'

            $('.enemy').each( function(){
                //compares the location of each enemy to the individual flame referenced above
                let enemy = $(this); //this is the individual enemy that we are comparing the flame against

                if(recthit(flame, enemy)){
                    flame.remove();
                    createExplosion(enemy);
//play pop sound
                    enemy.remove();

                    let value = 0;

                    if(enemy.hasClass('blue') || enemy.hasClass('purple')){
                        value = 3;
                    }else if(enemy.hasClass('red') || enemy.hasClass('green')){
                        value = 2;
                    }else{
                        value = 1;
                    }

                    score += value;
                    dragon.text(score);
                }

            })

        })//end flame vs enemy

        //has a bird hit our dragon?
        $('.enemy').each( function(){
            if( recthit(dragon, $(this) ) ){
                //remove enemy, not dragon
                $(this).remove();
                lives--;
                updateLifebar();
            }
        })


        //animate our background
        bgMove();

        if(gameRunning == true){
            requestAnimationFrame(gameLoop);
        }

    } //end gameLoop()

    // this is handled by startGame: gameLoop();

    function shootFlame(){
//when user presses spacebar, shoot flame from dragon
        let flame = $('<div>').addClass('flame'),
            dTop = dragon.position().top,
            dLeft = dragon.position().left,
            fTop = dTop+80,
            fLeft = dLeft+190; //the width of our dragon was 50 but is now 200

        flame.css({top: fTop, left:fLeft}) //positions the flame relative to the dragon
        flame.appendTo(stage);
        playSound(woosh, .2);

        flame.animate({left: stage.width()+100}, 1000, function(){
            $(this).remove(); //garbage collection this removes the element when we are done with it
        })

    }

    //the interval for this is defined at the top
    function createEnemy(){
        let enemy = $('<div>').addClass('enemy');
        let rando = Math.random(); //Math.random() gives us a random decimal value from 0 to ALMOST 1
        //console.log(rando, 'when math random is run again', Math.random());

        if(rando > .9){
            enemy.addClass('blue')
        }else if(rando > .75){
            enemy.addClass('red')
        }else if(rando > .55){
            enemy.addClass('green');
        }else if(rando > .35){
            enemy.addClass('pink');
        }else{
            enemy.addClass('purple');
        }

        //position enemy on stage
        let eLeft = stage.width()+100 //starts enemy 100px off stage
        let eTop = parseInt(Math.random() * (stage.height() - 54) ) + 20
        //console.log(eTop)
        enemy.css({top:eTop, left:eLeft})
        stage.append(enemy);
        //default values in jQ are in px. To add a % for example: width:30+'%'
        //check the lifebar when we do that.
        enemy.animate({left:-100}, 2500, 'linear', function(){
            $(this).remove();
        })

        birdFlight(enemy);

    }

    function createExplosion(expobj) {
        //console.log('createexplosion');
        let eTop = expobj.offset().top-10;
        let eLeft = expobj.offset().left;
        let eBody = expobj.parent();
        expobj.remove();

        //create expobj
        let newExpBox = $('<div>').addClass('expbox').css({
            top: eTop + 40,
            left: eLeft + 40
        });


        stage.append(newExpBox);

        let char = ".";

        for (let i = 0; i < 40 ; i++) {
            //this will make 40 divs each with the character . inside

            var randX = Math.floor(Math.random() * 300) - 150; //between -150 and 150
            var randY = Math.floor(Math.random() * 300) - 150; //between -150 and 150

            var newExpChar = $('<div>').addClass('expchar').text(char).css({
                top: 5,
                left: 5
            });

            newExpBox.append(newExpChar);

            newExpBox.animate({
                opacity: .0
            }, 600, function () {
                $(this).remove()
            });

            newExpChar.animate({
                top: randY,
                left: randX,
                opacity: .0
            }, 600);
        }

    }



    //background-position: -3px 0px

    //pans background
    function bgMove(){
        bgx += xSpeed;
        bgy += ySpeed;
        stage.css({'background-position': bgx+'px '+bgy+'px'});
    }


    //makes our dragon flap his wings
    let curFrame = 0; //keeps track of which frame we are on
    //drives animation of flapping wings

    function dragonFlap(){
        let frames = [0,1,2,3],
            frameWidth = 200,
            bgPos = -(frameWidth * frames[curFrame]);

        dragon.css({'background-position': bgPos+'px 0px'}) //keeps dragon in top row of animation
        curFrame++;

        if(curFrame == frames.length){
            curFrame = 0;
        }
    }


    //everything involving the start of the game goes here.
    function startGame(){
        //also play again function
        //this resets the variables to their initial values
        lives = 3;
        //resets all the properties of the dir object
        dir.up = false;
        dir.down = false;
        dir.left = false;
        dir.right = false;
        $('#life-storage').show();
        dragon.show().text('').css({top:100, left:100});
        //TODO: call lifebar to update
        createEnemyInt = setInterval(createEnemy, 1000);
        gameRunning = true;
        gameLoop();
        dragonMotion = setInterval(dragonFlap, 1000/10);
        $('.intro').hide();
        updateLifebar();
    } //end startGame

    $('.start').click(startGame); //super short syntax

    //playing sounds before they are finished
    function playSound(track, vol){
        let tempSound = track.cloneNode(); //duplicates any object (vanilla JS)
        tempSound.volume = vol;
        tempSound.play();
    }

    //to update the visual on our lifebar
    function updateLifebar(){
        let percent = lives/3; //3 is the number of our lives at the start of the game
        percent *= 100
        //default unit values in jQ are px to make % see below:

        $('#life-storage .bar').animate({width: percent+'%'}, 400);

        //what comparison do I need to determine if the game should be over?
        if(lives <= 0){
            //alert('game over');
            gameOver();


        }

    }

    //gameOver function
    function gameOver(){
        clearInterval(createEnemyInt);
        $('.enemy').remove();
        $('.dragon, #life-storage').hide();
        $('.intro').show();
        $('.intro h1').text('Game Over');
        $('.intro p:first').text('Your score was: '+score);
        $('.intro p:last').text('Click the button to play again');
        $('.start').text('Play Again?');
        gameRunning = false;

    }

    //each bird as it is created will get passed to this function
    function birdFlight(theBird){
        if(theBird.frameNum == undefined){
            //this property frameNum does not exist on this object
            theBird.frameNum = 0;
        }else{
            theBird.frameNum++;
        }

        let frames = [0,1];
        let frameWidth = 72;

        if(theBird.frameNum > 1){
            theBird.frameNum = 0
        }

        let bgPos = frameWidth * frames[theBird.frameNum];
        $(theBird).css({'background-position': bgPos+'px 0px'});

        //
        setTimeout( function(){
            birdFlight(theBird);
        }, 200 )

    } //end birdFlight


    function recthit(rectone, recttwo){
        //console.log('recthit called');
        var r1 = $(rectone);
        var r2 = $(recttwo);

        var r1x = r1.offset().left;
        var r1w = r1.width();
        var r1y = r1.offset().top;
        var r1h = r1.height();

        var r2x = r2.offset().left;
        var r2w = r2.width();
        var r2y = r2.offset().top;
        var r2h = r2.height();

        if( r1y+r1h < r2y ||
            r1y > r2y+r2h ||
            r1x > r2x+r2w ||
            r1x+r1w < r2x ){
            //console.log('recthit-false')
            return false;
        }else{
            //console.log('recthit-true')
            return true;
        }

    }//end function


</script>
</body>
</html>