<!DOCTYPE html>
<html>
<title> Arcade Smash | Game 3 </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Roboto", sans-serif, size=28pt }
body, html {height: 100%}

.bgimg {
  background-image: url('https://cdn.conceptartempire.com/images/08/2592/17-dungeon-of-fire.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
</style>

<body>
<div align="center">
    <h1> welcome to game 3 </h1>
<p> hi there </p>

    <iframe height="800px" width="100%" src="https://repl.it/@zachajoseph/Pokemon-core-game-engine-final?lite=true" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>



    <section id="done">
        <h2>Congrats! You've solved the puzzle!</h2>
        <form action="" method="POST">
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" required maxlength="10" placeholder="Your Name">
            <label for="score">Cash:</label>
            <input id="score" type="text" name="score" required maxlength="10" placeholder="Your Score">>
            <input type="hidden" name="game" value="game3">
            <button type="submit" class="button">Add Your Score to the Leaderboard!</button>

        </form>
    </section>





</body>
</html>
