<!DOCTYPE html>
<html>
<title> CASTLE ESCAPE home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=MedievalSharp'>
<style>
body, html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://cdn.conceptartempire.com/images/08/2592/01-dungeon-corridor-concept-art.jpg");
  min-height: 100%;
}

.menu {
  display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
            <a href="#" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
        </div>
        <div class="w3-col s3">
            <a href="#menu" class="w3-button w3-block w3-black">DETAILS</a>
        </div>
        <div class="w3-col s3">
            <a href="#where" class="w3-button w3-block w3-black">BEGIN</a>
        </div>
    </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
        <span class="w3-tag">BY P5CANDY</span>
    </div>
    <div class="w3-display-middle w3-center w3-padding-large w3-hide-small">
        <span class="w3-tag" style="font-family:MedievalSharp; font-size: 90px">Castle Run</span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-text-white">A CSP ESCAPE ROOOM</span>
    </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">



    <!-- About Container -->
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT</span></h5>
            <p>You’re a knight from the human realm that’s been held captive by the goblins. After being taken prisoner during the apocalypse, you’ve lost hope of ever seeing your friends again.
                One day, after a guard walks by, you hear the fall of an item. Your eyes shift to the sound. It’s a golden key. You pick it up and curiously fit the key in the lock of your cell. It unlocks the door, and you take a step outside. You let out a deep breath, and look both ways, then revel in your position.
                This is your chance to escape. Type “help” to start.
            </p>
            <p> In this game, you're a hero who needs to escape from the dungeon. You need to use your wit, critical thinking skills, creativity, and basic logic to get outside of the dungeon. You'll face allies and enemies inn your path to freedom. This isn't just an escape room. It's an adventure.</p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p><i> you've got to really feel the character, see the character, and be the character to break out of this one. you need to go for the treasure here. </p>
            </div>
            <img src="https://cdn.conceptartempire.com/images/02/3758/02-chest-zhuoyang-liu.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
            <p><strong>Escape Hours:</strong> all day, all night, 24/7 </p>
        </div>
    </div>

    <!-- Menu Container -->
    <div class="w3-container" id="menu">
        <div class="w3-content" style="max-width:700px">

            <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">DETAILS</span></h5>

            <div class="w3-row w3-center w3-card w3-padding">
                <a href="javascript:void(0)" onclick="openMenu(event, 'Eat');" id="myLink">
                    <div class="w3-col s6 tablink">LEVELS AND ROOMS</div>
                </a>
                <a href="javascript:void(0)" onclick="openMenu(event, 'Drinks');">
                    <div class="w3-col s6 tablink">CHARACTERS</div>
                </a>
            </div>

            <div id="Eat" class="w3-container menu w3-padding-48 w3-card">
                <h5>Level 1 Room 1 </h5>
                <p class="w3-text-grey"> hey hey hey! </p><br>

                <h5>Level 1 Room 2 </h5>
                <p class="w3-text-grey">hey hey hey! </p><br>

                <h5>Level 2 Room 1 </h5>
                <p class="w3-text-grey">hey hey hey! </p><br>

                <h5>Level 2 Room 2 </h5>
                <p class="w3-text-grey">hey hey hey! </p><br>

            </div>

            <div id="Drinks" class="w3-container menu w3-padding-48 w3-card">
                <h5> NPCs </h5>
                <p class="w3-text-grey">hey hey hey! </p><br>

                <h5> Your Character </h5>
                <p class="w3-text-grey">hey hey hey! </p><br>

            </div>
            <img src="https://www.wallpaperup.com/uploads/wallpapers/2015/10/20/821269/64a09c93bfc68fd073c6c57081bec291-700.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
        </div>
    </div>

    <!-- Where Container -->
    <div class="w3-container" id="where">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">BEGIN</span></h5>
            <p>ARE YOU READY?
            </p>
            <p> TIPS: </p>
            <p>+ Grab a notepad to keep track of clues.</p>
            <p>+ Give yourself enough time.</p>
            <p>+ Have your critical thinking at the ready.</p>
            <p>+ Get your coffee and get comfy.</p>
            <p>+ Be ready. </p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p><i> It's time to escape. Press LET'S ESCAPE to begin. </i></p>
            </div>
            <div class="w3-col s3">
                <a href="#" class="w3-center w3-button w3-block w3-black"> LET'S ESCAPE </a>
        </div>
    </div>



    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
 document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>


</div>