<!DOCTYPE html>
<html>
<title> Arcade Smash </title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=MedievalSharp'>
<style>
body, html {
  height: 100%;
  font-family: "Roboto", sans-serif;

}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("https://t4.ftcdn.net/jpg/02/97/32/59/240_F_297325959_RUht1AyI03QQKCS7sXX9rFuC36KuoK66.jpg");
  min-height: 100%;
}

.menu {
  display: none;
}
</style>

<head>
    <link rel="icon" href="https://img.icons8.com/material-sharp/24/000000/apple-arcade.png"/>
</head>

<body>

<!-- Links (sit on top) -->
<div class="w3-top">
    <div class="w3-row w3-padding w3-black">
        <div class="w3-col s3">
            <a href="apcsp" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
        </div>
        <div class="w3-col s3">
            <a href="#menu" class="w3-button w3-block w3-black">GAMES</a>
        </div>
        <div class="w3-col s3">
            <a href="#where" class="w3-button w3-block w3-black">BEGIN</a>
        </div>
    </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
        <span class="w3-tag">BY P5CANDY</span>
    </div>
    <div class="w3-display-middle w3-center w3-padding-large w3-hide-small">
        <span class="w3-text-black" style="font-family:Courier New; font-size: 90px">Arcade Smash</span>
    </div>
    <div class="w3-display-bottomright w3-center w3-padding-large">
        <span class="w3-text-white">A CSP ARCADE</span>
    </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">



    <!-- About Container -->
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT</span></h5>
            <p>Are you a gamer looking for some fun?</p>
            <p>Check out the arcade, and choose which games to play! </p>
            <p>Interested in seeing the latest scores? Check out the leaderboard!</p>
            <a href="leaderboard" class="w3-center w3-button w3-block w3-black"> LEADERBOARD </a>
            <div class="w3-panel w3-leftbar w3-light-grey">

            </div>
            <img src="https://wallpaperaccess.com/full/782955.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
            <p><strong>Gaming Hours:</strong> all day, all night, 24/7 </p>
        </div>
    </div>

    <div class="w3-container" id="menu">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">GAMES</span></h5>
            <a href="game1" class="w3-center w3-button w3-block w3-red"> ROCK CLIMBING API </a>
            <div class="w3-panel w3-leftbar w3-red">
            </div>

            <a href="game3" class="w3-center w3-button w3-block w3-blue"> POKEMON BATTLE </a>
            <div class="w3-panel w3-leftbar w3-blue">
            </div>

            <a href="game4" class="w3-center w3-button w3-block w3-green"> CUBE DODGE </a>
            <div class="w3-panel w3-leftbar w3-green">
            </div>

            <img src="https://wallpaperaccess.com/full/782955.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
            <p><strong>Gaming Hours:</strong> all day, all night, 24/7 </p>
        </div>
    </div>

    <!-- Where Container -->
    <div class="w3-container" id="where">
        <div class="w3-content" style="max-width:700px">
            <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">BEGIN</span></h5>
            <p>ARE YOU READY?
            </p>
            <p> TIPS: </p>
            <p>+ have fun </p>
            <p>+ get some friends</p>
            <p>+ Have your critical thinking at the ready.</p>
            <p>+ Get your coffee and get comfy.</p>
            <p>+ Be ready. </p>
            <div class="w3-panel w3-leftbar w3-light-grey">
                <p><i> It's time to play. Press LET'S PLAY to begin. </i></p>
            </div>
            <div class="w3-col s3">
                <a href="#menu" class="w3-center w3-button w3-block w3-black"> LET'S PLAY </a>
        </div>
    </div>



    <!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
 document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>


</div>