<!DOCTYPE html>
<html>
<title>CASTLE ESCAPE Room 2 (Second Floor)</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}

.bgimg {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/921419479886167027/AF5C97A259C17A10BC08C27495FE05493EC45C9F/');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}

</style>
<body>


</body>
</html>
