<!DOCTYPE html>
<html>

<style>
body, html {
height: 100%;
font-family: "Roboto", sans-serif;

}

.menu {
display: none;
}
</style>

<h1>ARCADE LEADERBOARD</h1>
<p>CHECK OUT THE HIGHEST SCORES</p>



<table class="score">
    <tr>
        <td colspan="2"><h2>High Scores</h2></td>
    </tr>
    <tr>
        <th>Name</th>
        <th>Score</th>
    </tr>
    {% for score in scores %}
    <!-- this is where a python loop would go. -->
    <tr>
        <td>{{score.name}}</td>
        <td>{{score.score}}</td>
    </tr>
    <!-- end loop here -->
    {% endfor %}
</table>
<p>don't see your name? that means you haven't played yet. hit 'start game' to start playing some rad games.</p>
<a href="/home"><div class="button">Start Game</div></a>


</html>