<html>
<head>
    <title>Flask Intro - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <h1>Please login</h1>
    <br>
    <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="">
        <input type="password" placeholder="Password" name="password" value="">
        <input class="btn btn-default" type="submit" value="Login">
    </form>
</div>

<div>
    <div class="w3-col s3">
        <a href="register.html" class="w3-center w3-button w3-block w3-black"> don't have a login code? register here! </a>
    </div>

</div>



</body>
<style>
body, html {
  height: 100%;
  font-family: "Roboto", sans-serif;
}


</style>

</html>