<div class="w3-top">
    <div class="w3-row w3-padding w3-blue">
        <div class="w3-col s3">
            <a href="apcsp" class="w3-button w3-block w3-black">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
        </div>
        <div class="w3-col s3">
            <a href="#menu" class="w3-button w3-block w3-black">GAMES</a>
        </div>
        <div class="w3-col s3">
            <a href="#where" class="w3-button w3-block w3-black">BEGIN</a>
        </div>
    </div>
</div>