<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ratings</title>
    <img src="https://img.pngio.com/clipart-stars-aesthetic-gold-star-transparent-background-png-star-aesthetics-png-920_409.png"
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href='https://fonts.googleapis.com/css?family=MedievalSharp'>
<style>
    body, html {
        height: 100%;
        font-family: "Roboto", roboto;

    }

    .bgimg {
        background-position: center;
        background-size: cover;
        min-height: 100%;
    }

    .menu {
        display: none;
    }
</style>


<div class="w3-top">
    <div class="w3-row w3-padding w3-blue">
        <div class="w3-col s3">
            <a href="/" class="w3-button w3-block w3-blue">HOME</a>
        </div>
        <div class="w3-col s3">
            <a href="#about" class="w3-button w3-block w3-blue">ABOUT</a>
        </div>
        <div class="w3-col s3">
            <a href="#menu" class="w3-button w3-block w3-blue">GAMES</a>
        </div>
        <div class="w3-col s3">
            <a href="#where" class="w3-button w3-block w3-blue">BEGIN</a>
        </div>
    </div>
</div>

<body>
<div>
    <h2 font="Roboto" class=" w3-button" style="font-family:Roboto; font-size: 45px">Ratings and Reviews</h2>
    <form action="" method="POST">
        <label for="name" style="font-family: Roboto, sans-serif, size=20pt" >Name:</label>
        <input id="name" type="text" name="name" required maxlength="10" placeholder="Your Name">
        <label for="rating">Rating from 1 to 5 (5 is best):</label>
        <input id="rating" type="number" name="rating" min="0" max="5"placeholder="5">
        <label for="comment"> Comment: </label>
        <input id="comment" max-length="20" name="comment" placeholder="Comments">
        <button type="submit" class="w3-center w3-button w3-blue"> Submit your review  </button>
    </form>
</div>
<div align="center" style="font-family:Roboto; font-size: 45px">

    <h1 align="center" type="block"> Reviews </h1>
    <table>
        <tr>
            <th align="left" style="font-size: 20px"> NAME </th>
            <th align="center" style="font-size: 20px"> COMMENT </th>
            <th align="right" style="font-size: 20px"> RATING </th>
        </tr>
        {% for rating in arcade_ratings  %}
        <tr>
            <td align="left" style="font-family:Roboto; font-size: 15px">{{rating.name}}</td>
            <td align="center" style="font-family:Roboto; font-size: 15px">{{rating.rating}}</td>
            <td align="right" style="font-family:Roboto; font-size: 15px">{{rating.comment}}</td>
        </tr>
        {%  endfor %}
    </table>
</div>

<script>
    //fixes the double post upon refresh.
    if ( window.history.replaceState ) {
        console.log('history replaceState...')
        window.history.replaceState( null, null, window.location.href );
    }
</script>
</body>
</html>
